/* Estilos aplicados a todos los archivos html*/
html {
    font-size: 18px;
    font-family: "Calibri", "Arial", sans-serif;
    text-align: justify;
    line-height: 1.3;
}

#Logo {
    align-items: center;
    height: 100px
}

.redes {
    height: 5vh;
    width: 5vh;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    color: #EAE4DD;
    background-color: #e12b2b;
    font-size: 50px;
}

h2 {
    font-size: 1.8em;
    color: #e12b2b;

}

h3 {
    font-size: 1.5em;
    text-decoration: underline overline;
    text-decoration-color: #e12b2b;
    text-align: center;
}

h4 {
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-color: #e12b2b;
}

span {
    font-weight: bold;
    font-style: italic;

}

.lista {
    list-style-image: url(../img/pelotafutbol.png);

}

.naveg {
    justify-content: center;
    display: flex;
    padding: 0;
    gap: 3rem; 
}

.carousel {
    max-width: 50%;
    height: 400px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;             
    overflow: hidden;
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.footer {
    grid-column: 1 / 4;
    grid-row: 10 / 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.footer-redes {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;

}
/* Estilos en index */

.body1 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.main {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "intro intro intro intro"
    "intro intro intro intro"
    "momentos momentos frases frases"
    "momentos momentos frases frases";
    gap: 1.5rem;
    padding: 1rem;
}

.encabezado {
    display: flex;           
    align-items: center;
    justify-content: center;     
    gap: 2rem;                
}

#monumental {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.intro {
    grid-area: intro;
}

.momentos {
    grid-area: momentos;
    margin: 20px;
}

.frases {
    grid-area: frases;
    margin: 20px;
}


/* Estilos en historia*/

.trofeos {
    width: 200px;
    height: auto;
}

.estadio {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
}

.fotosestadio {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 1rem 0;
}

.body2 {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main2"
    "footer"
}

.header2{
    grid-area: header;
}

.main2 {
    grid-area: main2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "titulohistoria titulohistoria" 
    "fundacion trofeosr"
    "evolucionestadio evolucionestadio";
    gap: 1.5rem;
    padding: 1rem;
}

.imgfundacion {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: auto;

}

.footer2 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;    
}

.titulohistoria{
    grid-area: titulohistoria;
    text-align: center;
}

.fundacion{
    grid-area: fundacion;
    text-align: center;
}

.trofeosr {
    grid-area: trofeosr;
    text-align: center;
}

.evolucionestadio {
    grid-area: evolucionestadio;
}


/* Estilos en galeria*/

.galeria{
    width: 750px;
    height: auto;
}

/* Estilos en contacto y venta de entradas */
#riverid {
    text-decoration: none;
    color: #e12b2b;
}

.subtitulo {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e12b2b;
}

#datos {
    font-size: 1.3em;
    color: #e12b2b;    
}

#botonEnviar{
    color: #fff5e6;
    background-color: #e12b2b;
}


@media (min-width: 375px) and (max-width:767px) {

    .body1{
        grid-template-columns: 1;
        grid-template-rows: auto auto auto;
    }


    .main {
    display: grid;
    grid-template-columns: 1fr;           
    grid-template-rows: auto auto auto;   
    grid-template-areas:
        "intro"
        "momentos"
        "frases";
    gap: 1rem;
    padding: 1rem;
    }

    .carousel {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .encabezado {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    #Logo{
        height: 80px;
    }

    h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .lista.naveg {
        flex-direction: column;
        gap: 1rem;
        padding-left: 0;
        align-items: center;
    }

    .item {
        margin: 0 1rem;
    }

    .footer {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .body2{
        grid-template-rows: auto auto auto;
    }

    .main2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "titulohistoria"
        "fundacion"
        "trofeosr"
        "evolucionestadio";
        gap: 1rem;
        padding: 1rem;

    }

    .imgfundacion, .trofeos, .estadio {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block:
        margin: 0 auto;
    }

    .fotosestadio {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }

    .footer2 {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer-redes {
        justify-content: center;
    }


}