@media (min-width: 375px) and (max-width:767px) {

    .body1{
        grid-template-columns: 1;
        grid-template-rows: auto auto auto;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;           
        grid-template-rows: auto auto auto;   
        grid-template-areas:
            "intro"
            "momentos"
            "frases";
        gap: 1rem;
        padding: 1rem;
    }

    .carousel {
        max-width: 85%;
        height: auto;
    }

    .encabezado {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    #Logo{
        height: 80px;
    }

    h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .lista.naveg {
        flex-direction: column;
        gap: 1rem;
        padding-left: 0;
        align-items: center;
    }

    .item {
        margin: 0 1rem;
    }

    .footer {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .body2{
        grid-template-rows: auto auto auto;
    }

    .main2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "titulohistoria"
        "fundacion"
        "trofeosr"
        "evolucionestadio";
        gap: 1rem;
        padding: 1rem;

    }

    .imgfundacion, .trofeos, .estadio {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .fotosestadio {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }

    .footer2 {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer-redes {
        justify-content: center;
    }

        .fixture-contenedor {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .fixture-contenedor .lista {
        width: 100%; 
    }

    .fixture-contenedor .calendario {
        width: 80%; 
        max-width: 300px;
        margin-top: 20px;
    }

    .main3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "titulocontacto"
        "entradas"
        "ubicacion"
        "contacto";
        padding: 1rem;
    }

    from {
        width: 100%;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    #botonEnviar {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    iframe {
        width: 100%;
        height: auto;
    }

}
